@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #323f1b #121111;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #121111;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #824d74;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

/* reset de parámetros */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work+Sans', sans-serif;
}


body {
    background-image: linear-gradient(to top, #dff4f2, #c9e3e1, #b3d3d0, #9dc3bf, #87b3af);
/*generales*/
}
h1 {
    font-size: 2.5rem;
    text-align: center;  
    padding-left: 200px;
    padding-right: 200px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-size: 1.2rem;            
    padding-bottom: 10px;
    line-height: 2;
}

hr {
    height: 5px;
    background-color: #323f1b;
    border-color: #323f1b;
  }

/*estilo de la cabecera escritorio*/
.header{
    background-image: linear-gradient(to bottom, #dff4f2, #c9e3e1, #b3d3d0, #9dc3bf, #87b3af);
    position:sticky;
    top: 0;
    height: 15vh;
    z-index:10;
    .nav_header{
        display: flex;
        height: 100%;
        justify-content: space-between;
        a {            
            text-decoration: none;
            font-size: 1.4rem;
            justify-content: center;
            color: black;
            font-weight: 500;
            padding: 15px;
            /* ver por que no se centra verticalmente*/
        }
        .lista_nav{
            list-style: none;
            display: flex;
            align-items: center;
            .lista_items{
                margin-right:20px;
                .link_nav{
                    text-decoration: none;
                    border: 1px solid rgb(10, 10, 10);
                    border-radius:10px;
                    color: black;
                    font-weight: 500;
                    font-size: 1.1rem;                    
                    padding: 0.5rem 1rem;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

                }
            }        
        }
        
    }
}

/*estilo de la seccion principal escritorio*/

.main{
    .principal {
        color: white;
        background:linear-gradient(to bottom, #000000, #00000048),url("../assets/img/back_ground_resumen_gr.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;        
       }
       h2{
        margin: 30px;
       }
        div{
            ul{
                li{
                    a{
                    text-decoration: none;
                    border: 1px solid rgb(10, 10, 10);
                    border-radius:10px;
                    color: black;
                    font-weight: 500;
                    font-size: 1.1rem;                    
                    padding: 0.5rem 1rem;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);                   
                    background-image: linear-gradient(to bottom, #dff4f2, #c9e3e1, #b3d3d0, #9dc3bf, #87b3af);
                    }
                }
            }           
        }
    }

.buscador {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        input{
            border: 1px solid rgb(10, 10, 10);
            border-radius: 25px;
            color: #000000;
            font-size: 1rem;
            height: 35px;
            margin: 5px;
            padding: 0px 20px;
        }
                    
    }

.los_discos{
    width: 80%;
    margin: 0 auto;
    h2 {
        margin-top: 20px 0;
    }
    .galeria_tendencias{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        div {
            width: 300px;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
                box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.69);
            }
        }
        
    }
}

/*Estila de los 3 mejores segun Beatlina*/

.mejores_beatlina{
    width: 80%;
    margin: 20px auto;

    h2 {
        margin-top: 20px 0;
    }
    .galeria_mejores{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        div {
            width: 300px;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
                box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.69);
            }
        }
        
    }
}

.las_pelis{
    width: 80%;
    margin: 20px auto;
    h2 {
        margin-top: 20px 0;
    }
        .galeria_peliculas{
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            flex-wrap: wrap;           
        }
            img {
                width: 400px;
                height: 500px;
                object-fit: cover;
                border-radius: 15px;
                box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.69);
            }
}
footer{
    height: 10vh;
    nav {
        padding: 20px;
        display: flex;
        justify-content: center;
        ul {
            list-style: none;
            display: flex;
            li {
                align-items: center;
                margin-right:20px;
                a { 
                    text-decoration: none;
                    border: 1px solid rgb(10, 10, 10);
                    border-radius:5px;
                    color:#000000;
                    font-weight: 100;
                    font-size: 0.8rem;                    
                    padding: 0.5rem 1rem;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
        }
    }
    }
}